body{
    font-size: 30px;
    background-color: rgb(61, 110, 214);
    font-weight: bolder;
    color: whitesmoke;
}
#para1{
    font-size: 40px;
}
#dices{
    display: flex;

}

.form{
    display: flex;
}
.diceAmount{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
#rollHandler{
    margin-left: 40%;
    margin-top: 2%;
    margin-right: 8%;
    display: flex;
    flex-direction: column-reverse;
}
img{
    border: 30px;
    border-color: darkgray;
    height: 20%;
    width: 20%;
    margin-left: 10%;
}
button{
    border: 2x solid rgb(184, 219, 249);
    background-color: rgb(184, 219, 249);
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    margin-left: 8%;
    margin-top: 2%;
}
button:hover{
    background-color: rgb(48, 47, 47);
    color: rgb(184, 219, 249);
}
.putInline{
    display: flex;
}

#para2{
    font-size: 40px;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid white;
    background-color: rgb(3, 3, 102);
  }
th{
    font-weight: bolder;
}